<template>
  <div class="topnav" id="myTopnav">
    <router-link to="/" v-bind:class="id_tab[0]" v-on:click="change_active(0)"
      >Home</router-link
    >
    <router-link
      to="/histoire"
      v-bind:class="id_tab[1]"
      v-on:click="change_active(1)"
      >Histoire</router-link
    >
    <router-link
      to="/login"
      id="connection"
      v-bind:class="id_tab[2]"
      v-on:click="change_active(2)"
      >Connexion</router-link
    >
    <router-link
      to="/map"
      v-bind:class="id_tab[3]"
      v-on:click="change_active(3)"
      >Map</router-link
    >
    <router-link
      to="/createuser"
      a
      v-bind:class="id_tab[4]"
      v-on:click="change_active(4)"
      >createuser</router-link
    >
    <router-link
      to="/profil"
      v-bind:class="id_tab[5]"
      v-on:click="change_active(5)"
      >profil</router-link
    >
    <a class="inactive" v-on:click="changer">Change style</a>
    <a href="javascript:void(0);" class="icon" v-on:click="myFunction"
      ><img
        src="./img/navigation-bar-icon-57-64x64.png"
        alt="lien"
        width="40"
        height="40"
      />
    </a>
  </div>
  <router-view />
</template>

<script>
//import axios from "axios";
export default {
  name: "App",
  data() {
    return {
      idc1: "active",
      idc2: "inactive",
      idc3: "inactive",
      idc4: "inactive",
      idc5: "inactive",
      idc6: "inactive",
      id_tab: null,
    };
  },
  created() {
    this.id_tab = [
      this.idc1,
      this.idc2,
      this.idc3,
      this.idc4,
      this.idc5,
      this.idc6,
    ];
  },
  methods: {
    myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    },
    change_active(id) {
      for (let i = 0; i < 6; i++) {
        if (id == i) {
          this.id_tab[i] = "active";
        } else {
          this.id_tab[i] = "inactive";
        }
      }
    },
    changer() {
      if (document.getElementById("body").className == "body1") {
        document.getElementById("body").className = "body2";
      } else {
        document.getElementById("body").className = "body1";
      }
    },
  },
};
</script>

<style>
body,
html {
  min-height: 100%;
  margin: 0;
}

.body1 {
  /*background-color: antiquewhite;*/
  background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

.body2 {
  /*background-color: antiquewhite;*/
  background-color: grey;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  position: relative;
}

/*nav {
  height: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #111;
}
*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.button {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #42b983;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*#nav a {
  font-weight: bold;
  color: #2c3e50;
}*/

/*#nav a.router-link-exact-active {
  color: #42b983;
}*/
</style>
