<template>
  <!-- Modal content-->
  <div class="modal-header">
    <h4 class="modal-title">Créer un nouveau sujet</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="identifiant">Id :</label>
      <input
        class="form-control"
        id="identifiant"
        name="identifiant"
        type="text"
      />
    </div>
    <div class="form-group">
      <label for="survivant">survivant :</label>
      <input
        class="form-control"
        id="survivant"
        name="survivant"
        type="text"
        v-bind:value="survivant"
        readonly="readonly"
      />
    </div>
    <div class="form-group">
      <label for="image">Image :</label>
      <input class="form-control" id="image" name="image" type="text" />
    </div>
    <div class="form-group">
      <label for="x">x :</label>
      <input class="form-control" id="x" name="x" type="number" />
    </div>
    <div class="form-group">
      <label for="y">y :</label>
      <input class="form-control" id="y" name="y" type="number" />
    </div>
    <div class="form-group">
      <label for="ttl">ttl :</label>
      <input class="form-control" id="ttl" name="ttl" type="number" />
    </div>
  </div>
  <div class="modal-footer">
    <button v-on:click="creation">Send</button>
  </div>
</template>

<script>
//import axios from "axios";

export default {
  name: "CreateUser",
  data() {
    return {
      survivant: null,
    };
  },
  created() {
    this.survivants();
  },
  methods: {
    creation: () => {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: JSON.stringify({
          id: document.getElementById("identifiant").value,
          survivant: document.getElementById("survivant").value,
          image: document.getElementById("image").value,
          x: document.getElementById("x").value,
          y: document.getElementById("y").value,
          ttl: document.getElementById("ttl").value,
          administrateur: "player",
        }),
        redirect: "follow",
      };

      fetch(`https://192.168.75.107/game/api/resources/user`, requestOptions)
        .then(function (response) {
          console.log(response);
        })
        .catch((error) => console.log("error", error));
    },
    survivants() {
      fetch(
        `https://192.168.75.107/api/TP1/authenticate?token=${localStorage.getItem(
          "token"
        )}&origin`
      ).then(function (response) {
        if (response.status == 204) {
          console.log(localStorage.getItem("token"));
          localStorage.setItem(
            "no-token",
            response.headers.get("Authentication")
          );
          console.log(localStorage.getItem("no-token"));
        }
      });
      this.survivant = localStorage.getItem("no-token");
      console.log("salut", this.survivant);
    },
  },
};
</script>

<style scoped>
input,
input[type="submit"],
select {
  background-color: #2f4f4f !important;
  color: lightgray;
  border: 1px solid;
}
</style>
