<template>
  <div class="histoire">
    <h1>Histoire</h1>
  </div>
  <p>
    Dans un futur plus ou moins lointain, la Terre est frappée par une pluie de météorites faites de différents métaux actuellement inconnus sur terre. Ces météorites, de formes et de tailles étrangement similaires, atterrissent au sol avec une régularité étonnante. Pourtant, les métaux qu’elles contiennent ne sont pas toujours les mêmes…<br><br>
    Les derniers survivants (humains ou non) ont muté et leurs organismes sont devenus dépendants à l’un de ces métaux, le plus fréquent, baptisé « Astra-Z ». Pendant un délai appelé « Temps de Tranquillité et de Liberté » (TTL), ils sont délivrés de tout besoin physiologique et peuvent faire ce que bon leur semble. Cependant, ceux qui n’arrivent pas à récupérer une nouvelle dose d’Astra-Z durant ce TTL perdent le qualificatif de « survivant ». De plus, la taille d’une météorite ne permet qu’à un seul individu de recharger son TTL et augmente sa dépendance, si bien qu’il lui faut trouver une nouvelle météorite en un TTL plus court que le précédent. Au final, les survivants passent donc la majorité de leur temps de tranquillité à traquer les chutes de météorites et à se précipiter sur les points d’impact pour y collecter la précieux métal.<br><br>
    La plupart des météorites contiennent de l’Astra-Z, mais certaines, plus rares, contiennent du « Astra-X », lequel est capable de guérir définitivement un survivant de sa dépendance à l’Astra-Z. D’autres enfin, contiennent du « Bêta-X », qui est en revanche mortel. La technologie actuelle permet facilement de détecter à distance les points d’impacts d’une météorite, ainsi que la présence d’Astra-Z, mais ne permet pas de discerner l’Astra-X du Bêta-X.<br><br>
    Tant qu’ils ne sont pas délivrés de leur dépendance à l’Astra-Z, les survivants sont maintenus à l’intérieur d’une Zone Rectangulaire de Ressources (ZRR) par un champ magnétique mis en place par le Gouvernement de la Terre, afin de les aider à partager les ressources équitablement. Tout individu sous l’emprise de l’Astra-Z qui essaye de franchir la limite de la zone qui lui est assignée ne fait plus partie de la population des survivants. Pour les inciter à rester en forme et à conserver des interactions sociales, chaque ZRR renferme un petit groupe de quelques survivants qui sont libres de s’organiser ou d’entrer en compétition pour partager les ressources.<br><br>
    Dans sa volonté d’améliorer le confort et de maximiser le bonheur de la population, le Gouvernement de la Terre a lancé un grand projet d’application Web mobile destiné à permettre à la population de la Terre de trouver plus facilement les points d’impact des météorites. La première phase, qui a consisté à équiper toute la population de terminaux mobiles géolocalisés, a déjà eu lieu. Il ne reste plus qu’à développer l’application.<br><br>
    Devant le succès mitigé de son application précédente, le Gouvernement de la Terre a mandaté un cabinet de conseil offshore pour lancer un appel d’offres à plusieurs startups, dont vous faites partie. Votre mission, si vous l’acceptez, sera de développer d’une part une API permettant au Gouvernement de la Terre de mettre à disposition de la population les informations dont il dispose, et d’autre part un client Web mobile permettant aux survivants de faire le meilleur usage de ces informations. Il est à noter que cette mission comporte, en plus de ces deux objectifs, une partie confidentielle qui vous sera dévoilée plus loin.<br><br>
  </p>
</template>
