<template>
  <div id="affichage">
    <h1>Bonjour</h1>
    <a><img v-bind:src="image" class="iconuser" /></a><br />
    <strong>Survivant : {{ login }}</strong
    ><br />
    <button v-on:click="logout">Déconnexion</button>
  </div>
</template>

<script>
//import axios from "axios";

export default {
  name: "Profil",
  data() {
    return {
      user: null,
      image: null,
      ttl: null,
      token: null,
    };
  },
  created() {
    this.token = localStorage.getItem("token");
    this.image = localStorage.getItem("image");
    this.login = localStorage.getItem("login");
  },
  methods: {
    logout: () => {
      var myHeaders = new Headers();
      myHeaders.append("Origin", "http://localhost:4000");

      var requestOptions = {
        method: "DELETE",
        headers: myHeaders,
        redirect: "follow",
      };

      fetch(
        `https://192.168.75.107/api/TP1/logout?token=${localStorage.getItem(
          "token"
        )}&origin`,
        requestOptions
      )
        .then(function (response) {
          if (response.status == 204) {
            localStorage.clear();
            window.location.href = "https://192.168.75.107/#/login";
          }
          response.text();
          //localStorage.setItem("token", response.headers.get('Authorization'));
          //this.$session.start();
          //vue_session.set('jwt', response.headers.get('Authorization'));
          localStorage.clear();
        })
        //.then(window.location.href = 'http://localhost:4000/#/createuser')
        .catch((error) => console.log("error", error));
    },
    /*ff() {
      axios
        .get(`/V2/game/api/resources/user/${localStorage.getItem("no-token")}`)
        .then((response) => {
          console.log("*****SUCCESS*****");
          console.log("ma réponse", response);
          this.user = response.data;
          this.image = response.data[0].image;
          this.ttl = response.data[0].TTL;
          localStorage.userInfo = JSON.stringify(response.data[0]);
        })
        .catch(() => {
          console.log("-----ERROR-----");
        });
    },*/
    /*survivants() {
      fetch(
        `/V1/TP1/authenticate?token=${localStorage.getItem("token")}&origin`
      ).then(function (response) {
        if (response.status == 204) {
          console.log(localStorage.getItem("token"));
          localStorage.setItem("no-token",response.headers.get("Authentication"));
          console.log(localStorage.getItem("no-token"));
        }
      });
    },*/
    /*async beforeMount() {
      this.token = localStorage.getItem("token");
      console.log("token",this.token);
      //this.login = localStorage.getItem("login");
      //this.image = localStorage.getItem("image");
    }*/
  },
};
</script>

<style scoped>
input,
input[type="submit"],
select {
  background-color: #2f4f4f !important;
  color: lightgray;
  border: 1px solid;
}

.iconuser {
  width: 150px;
  border-radius: 50%;
}

#affichage {
  text-align: center;
}
</style>
