<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profil</title>
</head>
<body>
<h1 th:if="${session.login}!=null">Profil</h1>
<h1 th:if="${session.login}==null">ERREUR</h1>
<br/><br/>
<div>

	<h1 th:if="${session.login}!=null">Result</h1>
    <p th:utext="${session.login}"/>
    <a th:href="@{/users/{login}(login=${session.login})}" th:if="${session.login}!=null">Modifier Mot de passe</a>
    <a href="/TP1/login" th:if="${session.login}==null">Réessayer de vous connecter</a>

</div>
<a href="/TP1/logout" th:if="${session.login}!=null">Deconnexion</a>
</body>
</html>