<template>
  <div>
    <h1>Connexion</h1>
    <form @submit.prevent="formLogin()" id="loginForm">
      <h2><label for="login">Login</label></h2>
      <input type="text" :key="login" name="login" id="login" />
      <br />
      <h2><label for="password">Password</label></h2>
      <input type="password" :key="password" name="password" id="password" />
      <br /><br />
      <button type="submit">Send</button>
    </form>
  </div>
  <!--<div class="card-body">données users: {{ don }}</div>
  <div class="card-body">données meteors: {{ meteor }}</div>-->
</template>

<script>
//import axios from "axios";
import { mapActions } from "vuex";
//import vue_session from "vue-session";

export default {
  name: "Login",
  data() {
    return {
      token: localStorage.getItem("token"),
    };
  },
  created() {
    // Simple GET request using fetch
    /*fetch("http://192.168.75.107:3376/game/api/resources/users")
      .then(response => response.json())
      .then(data => (this.don=data));*/
    //this.fetch();
    //this.ff();
  },
  methods: {
    ...mapActions(["login"]),
    formLogin() {
      var form = document.getElementById("loginForm");
      var login = form.querySelector("input[name=login]").value;
      var password = form.querySelector("input[name=password ]").value;

      this.login({
        login: login,
        password: password,
      });
    },
    /*login: () => {
      console.log("Login cliqué.");

      var myHeaders = new Headers();
      myHeaders.append("Origin", "http://localhost:4000");

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        //body: { login: document.getElementById("login").value , password: document.getElementById("password").value },
        redirect: "follow",
      };
      //login?login=jonathan_T&password=jjjj
      fetch(
        `/V1/TP1/login?login=${
          document.getElementById("login").value
        }&password=${document.getElementById("password").value}`,
        requestOptions
      )
        .then(function (response) {
          if (response.status == 204) {
            response.text();
            localStorage.setItem("token", response.headers.get("Authorization"));
            console.log(localStorage.getItem("token"));
            fetch(
        `/V1/TP1/authenticate?token=${localStorage.getItem("token")}&origin`
          ).then(function (response) {
            if (response.status == 204) {
              console.log(localStorage.getItem("token"));
              localStorage.setItem("no-token",response.headers.get("Authentication"));
              console.log(localStorage.getItem("no-token"));
            }
          });
            window.location.href = "http://localhost:4000/#/profil";
          }
          //this.$session.start();
          //vue_session.set('jwt', response.headers.get('Authorization'));
        })
        //.then(window.location.href = 'http://localhost:4000/#/createuser')
        .catch((error) => console.log("error", error));

      //this.$router.push({name: 'createuser'});
    },
    fetch() {
      axios
        .get("/V1/TP1/users")
        .then((response) => {
          console.log("*****SUCCESS*****");
          console.log("ma réponse", response);
          this.don = response.data;
        })
        .catch(() => {
          console.log("-----ERROR-----");
        });
    },
    ff() {
      axios
        .get("/V2/game/api/resources/meteorites")
        .then((response) => {
          console.log("*****SUCCESS*****");
          console.log("ma réponse", response);
          this.meteor = response.data;
        })
        .catch(() => {
          console.log("-----ERROR-----");
        });
    },*/
  },
};
</script>

<style scoped>
input,
input[type="submit"],
select {
  background-color: #2f4f4f !important;
  color: lightgray;
  border: 1px solid;
  height: 30px;
  width: 200px;
}
</style>
