<template>
  <section>
    <h2>Carte</h2>
    <p class="content">
      <strong>TODO :</strong> mettre à jour les positions des différents objets
      sur la carte.
    </p>

    <div id="map" class="map"></div>
    <ul id="list-users"></ul>
    <p>pos : {{ position }}</p>
    <p>ttl : {{ ttl }}</p>
    <p>meteorite : {{ meteorite }}</p>
    <p>game : {{ game }}</p>
  </section>
</template>

<script>
import "leaflet/dist/leaflet.css";

// This part resolves an issue where the markers would not appear in webpack
import { Icon } from "leaflet";
import { mapState, mapActions } from "vuex";

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

// initialisation de la map
let lat = 45.782,
  lng = 4.8656,
  zoom = 19;
let mymap = {};
let markerPlayer = null;
let playerMarker = null;
let markerotherplayer = null;
let user = JSON.parse(localStorage.getItem("userInfo"));
let otheruserco = JSON.parse(localStorage.getItem("userArray"));


export default {
  name: "Map",
  computed: mapState({
    position: (state) => state.playerPosition,
    ttl: (state) => state.ttl,
    meteorite: (state) => state.meteorite,
    game: (state) => state.game,
  }),
  data() {
    return {
      ttlcount: 0,
      user: null,
      token: null,
      image: null,
      login: null,
      otheruser:[],
      otheruserimage: null,
      otherusermarker: null,
      ttlTimeout: null,
      positionTimeout: null,
      watchId: null,
      geolocation: navigator.geolocation,
      meteorites: [],
    };
  },
  unmounted() {
    clearTimeout(this.ttlTimeout);
    clearTimeout(this.positionTimeout);
    navigator.geolocation.clearWatch(this.watchId);
    navigator.vibrate(400);
  },
  created() {
    this.token = localStorage.getItem("token");
    this.image = localStorage.getItem("image");
    this.login = localStorage.getItem("login");
  },
  methods: {
    ...mapActions([
      "getUser",
      "updatePlayerPositions",
      "decreaseTtlAction",
      "playerImpact",
      "getAllUsers",
      "getMenu",
      "deleteMeteorites",
    ]),
    // Procédure de mise à jour de la map
    updateMap: function (L, markerOptionsuser) {
      // Affichage à la nouvelle position
      mymap.setView([lat, lng], zoom);

      if (markerPlayer != null) markerPlayer.remove(mymap);
      markerPlayer = L.marker(
        [/*user.position[0]*/ lat, /*user.position[1]*/ lng],
        markerOptionsuser
      )
        .addTo(mymap)
        .bindPopup(
          `Votre coordonnée temporaire <br> Utilisateur <strong>${user.survivant}</strong><br>TTL: <strong>${this.ttl}</strong>s<br><strong>Votre position: [${lat},${lng}]</strong>.`
        )
        .openPopup();

      // La fonction de validation du formulaire renvoie false pour bloquer le rechargement de la page.
      return false;
    },
    verifconnect(name){
      var requestOptions = {
        method: 'GET',
        redirect: 'follow'
      };

      if(this.otheruser.includes(name)==false && name != user.survivant){
      fetch("https://192.168.75.107/api/TP1/users/"+name, requestOptions)
        .then(response => response.json())
        .then(result => 
          {
            console.log("ici le resultat",result);
            if(result.connected == true && result.login!=user.survivant){
              console.log(result.login);
              this.otheruser.push(result.login);
            }
          })
        .catch(error => console.log('error', error));
      }
    },
    otheruserposition(name){
      var requestOptions = {
        method: 'GET',
        redirect: 'follow'
      };
    
      fetch("https://192.168.75.107/game/api/resources/user/"+name, requestOptions)
        .then(response => response.json())
        .then(result => {
                        console.log("isi my boy",result);
                        this.otherusermarker=result[0].position;
                        this.otheruserimage=result[0].image;
                        })
        .catch(error => console.log('error', error));
    },
    affichageOtherUser(L,otheruserIcon){
        if (markerotherplayer != null) markerotherplayer.remove(mymap);
        markerotherplayer = L.marker([this.otherusermarker[0], this.otherusermarker[1]],otheruserIcon)
        .addTo(mymap)
        .bindPopup(
          `salut.`
        );
    },
    async updatePlayerPosition(position) {
      const L = await import("leaflet");
      console.log("loooooooooooooooo", this.otheruser.length," voilou ",this.otheruser);
      if(this.otheruser.length > 0){
        this.otheruserposition(this.otheruser[0]);
      }

      if(this.otherusermarker===null){
        console.log("pas grand chose a faire")
      }else{
        console.log("imageeee",this.otheruserimage);
        var iconOptionsOtheruser = {
          iconUrl: this.otheruserimage,
          iconSize: [50, 50],
        };
        //tabicon.push(iconOptionsuser);

        // Creating a custom icon
        var customOtherIcon = L.icon(iconOptionsOtheruser);
        //L.icon(iconOptionsuser);

        var markerOptionsOtheruser = {
          title: "MyLocation",
          clickable: true,
          draggable: false,
          icon: customOtherIcon,
        };
        this.affichageOtherUser(L,markerOptionsOtheruser);
      }

      let tempLat = position.coords.latitude;
      let tempLon = position.coords.longitude;

      //Users icon and information
      console.log("image ", user.image);
      var iconOptionsuser = {
        iconUrl: user.image,
        iconSize: [50, 50],
      };

      // Creating a custom icon
      var customIcon = L.icon(iconOptionsuser);

      var markerOptionsuser = {
        title: "MyLocation",
        clickable: true,
        draggable: false,
        icon: customIcon,
      };

      if (this.ttl > 0) {
        this.updatePlayerPositions([tempLat, tempLon]);
        this.getAllUsers();
        otheruserco.forEach(element => {this.verifconnect(element) 
        });
        if (markerPlayer !== null) markerPlayer.remove(mymap);
        if (playerMarker !== null) playerMarker.remove(mymap);

        if (this.position !== null) {
          playerMarker = L.marker([tempLat, tempLon], markerOptionsuser)
            .addTo(mymap)
            .bindPopup(
              `<br> Utilisateur <strong>${user.survivant}</strong><br>TTL: <strong>${this.ttl}</strong>s<br><strong>Votre position: [${tempLat},${tempLon}]</strong>.`
            )
            .openPopup();

          var point1 = L.latLng(tempLat, tempLon);
          var index = 0;
          for (let meteorite of this.meteorite) {
            var point2 = L.latLng(meteorite.impact[0], meteorite.impact[1]);
            console.log("point1 : ", point1);
            console.log("point2 : ", point2);
            console.log("la distance : ", point1.distanceTo(point2));
            if (point1.distanceTo(point2) <= 8) {
              playerMarker.bindPopup(
                `<strong>Votre position</strong><br/>Vous avez pris la météorite</strong>`
              );
              this.playerImpact({
                meteorite: meteorite,
                index: index,
                meteorites: this.meteorites,
                mymap: mymap,
              });
              navigator.vibrate(400);
              break;
            }
            index = index + 1;
          }
        }

        lat = null;
        lng = null;
      }
    },
    decreaseTtl: function () {
      console.log("oui");
      if (this.ttl !== null && this.ttl > 0) {
        var li = document.getElementById("list-users");
        this.ttlcount+=1;
        this.decreaseTtlAction();
        this.affichageUser(user, li);
      }
      else{
        alert(`Partie terminé \n vous avez survécu : ${this.ttlcount} seconde`,navigator.vibrate(400));
        this.game=false;
        this.getMenu();
      }
    },
    setAffichageMeteorites: function (L, meteorIcon) {
      // Impacts
      for (let meteorite of this.meteorite) {
        // On met dans un tableau de données les markers pour les supprimer lorsque le joueur est à moins de 2 mètres
        let marker = L.marker([meteorite.impact[0], meteorite.impact[1]], {
          icon: meteorIcon,
        })
          .addTo(mymap)
          .bindPopup(
            `Météorite de type <strong>${meteorite.composition}</strong>.<br>TTL restant: <strong>${meteorite.ttl}</strong>s.`
          );

        this.meteorites.push(marker);
      }

      console.log("meme2 : ", this.meteorites);
    },
    setAffichageMeteorites: function (L, meteorIcon) {
      // Impacts
      for (let meteorite of this.meteorite) {
        console.log("meme on passe dedans");
        // On met dans un tableau de données les markers pour les supprimer lorsque le joueur est à moins de 2 mètres
        let marker = L.marker([meteorite.impact[0], meteorite.impact[1]], {
          icon: meteorIcon,
        })
          .addTo(mymap)
          .bindPopup(
            `Météorite de type <strong>${meteorite.composition}</strong>.<br>TTL restant: <strong>${meteorite.ttl}</strong>s.`
          );

        this.meteorites.push(marker);
      }

      console.log("meme2 : ",this.meteorites);
      //a modifierrrrrrrr
    },
    affichageUser(user, li) {
      return (li.innerHTML = `<li>
                              <a href="javascript:updateImage("J1");"><img src=${user.image} style="width:50px;border-radius: 50%;opacity: 50%;"</a>&nbsp;&nbsp;-&nbsp;&nbsp;
                              <a href="javascript:updateName(${user.survivant});">${user.survivant}</a>&nbsp;&nbsp;-&nbsp;&nbsp;
                              <strong>TTL</strong> : ${this.ttl}&nbsp;&nbsp;-&nbsp;&nbsp;
                              <strong>Trophys</strong> : none
                              </li>`);
    },
  },
  async beforeMount() {
    //console.log("player",user.id);
    // HERE is where to load Leaflet components!
    const L = await import("leaflet");


    // Marqueurs: météorites (orange), joueur (vert)

    const meteorIcon = new L.Icon({
      iconUrl: "http://pngimg.com/uploads/meteor/small/meteor_PNG22.png",
      iconSize: [50, 50],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
    });
    // Procédure d'initialisation
    mymap = L.map("map", {
      center: [lat, lng],
      zoom: zoom,
    });
    //updateMap();

    // On requête vers le serveur pour récupérer les ZRR mais aussi les coordonnées des météorites
    // Cela permettra de savoir si le token stocké dans l'API Web Storage reste valide
    // S'il n'est pas valide, nous n'aurons aucune informations concernant ces coordonnées
    this.setAffichageMeteorites(L, meteorIcon);

    //modifiiiiiierrrrrrrrrrrrrr

    // Création d'un "tile layer" (permet l'affichage sur la carte)
    L.tileLayer(
      "https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}@2x.jpg90?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA",
      {
        maxZoom: 22,
        minZoom: 1,
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken:
          "pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA",
      }
    ).addTo(mymap);

    // Ajout d'un marker
    L.marker([45.78207, 4.86559])
      .addTo(mymap)
      .bindPopup("Entrée du bâtiment<br><strong>Nautibus</strong>.")
      .openPopup();

    // Ajout du rectangle vide
    L.polygon(
      [
        [45.782179, 4.864956],
        [45.782575, 4.866767],
        [45.782315, 4.866884],
        [45.781885, 4.864988],
      ],
      { color: "#ff7800", weight: 1 }
    ).addTo(mymap);

    // Clic sur la carte
    mymap.on("click", (e) => {
      lat = e.latlng.lat;
      lng = e.latlng.lng;
      //this.updateMap();
      console.log(this.game);
      if (this.ttl > 0 && this.game === true) {
        //console.log("pos", this.position);
        //this.updateMap(L, markerOptionsuser);
      }
    });

    //Users icon and information
    console.log("image ", user.image);
    var iconOptionsuser = {
      iconUrl: user.image,
      iconSize: [50, 50],
    };
    //tabicon.push(iconOptionsuser);

    // Creating a custom icon
    var customIcon = L.icon(iconOptionsuser);
    //L.icon(iconOptionsuser);

    var markerOptionsuser = {
      title: "MyLocation",
      clickable: true,
      draggable: false,
      icon: customIcon,
    };

    /* other user marker */


    console.log("la po po po ", this.position);
    if (this.position === null) {
      console.log("position null");
      mymap = L.map("map", {
        center: [45.78207, 4.86559],
        zoom: zoom,
      });
    } else {
      console.log("position not null");
      playerMarker = L.marker(this.position, markerOptionsuser)
        .addTo(mymap)
        .bindPopup("<strong>Votre position</strong>")
        .openPopup();
    }

    console.log("otheeer",this.otheruser[0]);
    if (this.game && this.geolocation) {
      console.log("la loca loca", this.geolocation);
      this.ttlTimeout = setInterval(this.decreaseTtl, 1000);
      // geolocalisation et changement des imformation
      this.watchId = navigator.geolocation.watchPosition(
        this.updatePlayerPosition,
        this.errorUpdatePosition,
        { timeout: 6000 }
      );
    }
  },
};
</script>

<style scoped>
.map {
  height: 400px;
  width: 100%;
  border: 1px solid;
}
</style>
